<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94825369955-rb3ldv4dabfs1dh8fma7p29niim4bk3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94825369955-rb3ldv4dabfs1dh8fma7p29niim4bk3h</string>
	<key>API_KEY</key>
	<string>AIzaSyDwNMCAvIzmfedOBN-Lryams0ZVGNemnIw</string>
	<key>GCM_SENDER_ID</key>
	<string>94825369955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.farmeasy</string>
	<key>PROJECT_ID</key>
	<string>farm-easy-hackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-easy-hackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94825369955:ios:8e82fe3cddccda6e2f8356</string>
</dict>
</plist>